<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135627531437-mt6nvp6qde8brl56ac7ln4meuc50dq3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135627531437-mt6nvp6qde8brl56ac7ln4meuc50dq3m</string>
	<key>API_KEY</key>
	<string>AIzaSyCRvTJXrqkpLUcRxUbm3tb3aCpXYZnvR7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>135627531437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>furkansabaz.com.TinderClone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-b51db</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-b51db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135627531437:ios:a4d5075d7b0ddd74</string>
	<key>DATABASE_URL</key>
	<string>https://tinderclone-b51db.firebaseio.com</string>
</dict>
</plist>